In [217]:
import pandas as pd
from matplotlib import pyplot as pt

In [218]:
car_df = pd.read_csv('training.csv')

In [219]:
car_df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [220]:
#Printing the shape of dataframe
car_df.shape

(72983, 34)

In [287]:
car_df['AUCGUART'].isnull().sum()

69564

In [288]:
car_df['PRIMEUNIT'].isnull().sum()

69564

In [223]:
#Removing AUCGUART, PRIMEUNIT as they have 69564 null values so we cannot replace those as we do not have any historical data
#Removing the VNZIP1 as ZIP code and VNST state where it is pruchased is represent same information

In [224]:
car_df_dropped = car_df.drop(['AUCGUART','PRIMEUNIT','VNZIP1','WheelType'],axis=1)

In [225]:
car_df_dropped.shape

(72983, 30)

In [226]:
car_df_dropped.dtypes

RefId                                  int64
IsBadBuy                               int64
PurchDate                             object
Auction                               object
VehYear                                int64
VehicleAge                             int64
Make                                  object
Model                                 object
Trim                                  object
SubModel                              object
Color                                 object
Transmission                          object
WheelTypeID                          float64
VehOdo                                 int64
Nationality                           object
Size                                  object
TopThreeAmericanName                  object
MMRAcquisitionAuctionAveragePrice    float64
MMRAcquisitionAuctionCleanPrice      float64
MMRAcquisitionRetailAveragePrice     float64
MMRAcquisitonRetailCleanPrice        float64
MMRCurrentAuctionAveragePrice        float64
MMRCurrentAuctionCleanPrice          float64
MMRCurrentRetailAveragePrice         float64
MMRCurrentRetailCleanPrice           float64
BYRNO                                  int64
VNST                                  object
VehBCost                             float64
IsOnlineSale                           int64
WarrantyCost                           int64
dtype: object

In [227]:
#This is to convert all the datetime formats to one single format
car_df_dropped['Date']=pd.to_datetime(car_df_dropped['PurchDate'], errors='coerce')

In [228]:
car_df_dropped.dtypes

RefId                                         int64
IsBadBuy                                      int64
PurchDate                                    object
Auction                                      object
VehYear                                       int64
VehicleAge                                    int64
Make                                         object
Model                                        object
Trim                                         object
SubModel                                     object
Color                                        object
Transmission                                 object
WheelTypeID                                 float64
VehOdo                                        int64
Nationality                                  object
Size                                         object
TopThreeAmericanName                         object
MMRAcquisitionAuctionAveragePrice           float64
MMRAcquisitionAuctionCleanPrice             float64
MMRAcquisitionRetailAveragePrice            float64
MMRAcquisitonRetailCleanPrice               float64
MMRCurrentAuctionAveragePrice               float64
MMRCurrentAuctionCleanPrice                 float64
MMRCurrentRetailAveragePrice                float64
MMRCurrentRetailCleanPrice                  float64
BYRNO                                         int64
VNST                                         object
VehBCost                                    float64
IsOnlineSale                                  int64
WarrantyCost                                  int64
Date                                 datetime64[ns]
dtype: object

In [229]:
#The following is to split date, month, year from the date time. As we try to convert date time to integer ,it will give value with greater magnitude which may make the model biased to this column
car_df_dropped['purchasedMonth']= pd.DatetimeIndex(car_df_dropped['Date']).month

In [230]:
car_df_dropped['purchasedYear']= pd.DatetimeIndex(car_df_dropped['Date']).year

In [231]:
car_df_dropped['purchasedDay']= pd.DatetimeIndex(car_df_dropped['Date']).day

In [232]:
car_df_dropped.shape

(72983, 34)

In [233]:
car_df_date_dropped = car_df_dropped.drop(['Date','PurchDate'],axis=1)

In [234]:
car_df_date_dropped.shape

(72983, 32)

In [235]:
car_df_date_dropped.dtypes

RefId                                  int64
IsBadBuy                               int64
Auction                               object
VehYear                                int64
VehicleAge                             int64
Make                                  object
Model                                 object
Trim                                  object
SubModel                              object
Color                                 object
Transmission                          object
WheelTypeID                          float64
VehOdo                                 int64
Nationality                           object
Size                                  object
TopThreeAmericanName                  object
MMRAcquisitionAuctionAveragePrice    float64
MMRAcquisitionAuctionCleanPrice      float64
MMRAcquisitionRetailAveragePrice     float64
MMRAcquisitonRetailCleanPrice        float64
MMRCurrentAuctionAveragePrice        float64
MMRCurrentAuctionCleanPrice          float64
MMRCurrentRetailAveragePrice         float64
MMRCurrentRetailCleanPrice           float64
BYRNO                                  int64
VNST                                  object
VehBCost                             float64
IsOnlineSale                           int64
WarrantyCost                           int64
purchasedMonth                         int64
purchasedYear                          int64
purchasedDay                           int64
dtype: object

In [236]:
'''Trying to convert categorical columns to integers
Converting categorical value column to one hot encoded vectors, 
I have choosen these column because the categories which are in train data are similar to categories in test data'''
car_df_date_dropped['Make'] = car_df_date_dropped['Make'].astype('category')
car_df_date_dropped['Make'] = car_df_date_dropped['Make'].cat.codes

In [237]:
car_df_date_dropped['Model'] = car_df_date_dropped['Model'].astype('category')
car_df_date_dropped['Model'] = car_df_date_dropped['Model'].cat.codes

In [238]:
car_df_date_dropped['Trim'] = car_df_date_dropped['Trim'].astype('category')
car_df_date_dropped['Trim'] = car_df_date_dropped['Trim'].cat.codes

In [239]:
car_df_date_dropped['SubModel'] = car_df_date_dropped['SubModel'].astype('category')
car_df_date_dropped['SubModel'] = car_df_date_dropped['SubModel'].cat.codes

In [240]:
car_df_date_dropped['Color'] = car_df_date_dropped['Color'].astype('category')
car_df_date_dropped['Color'] = car_df_date_dropped['Color'].cat.codes

In [241]:
car_df_date_dropped['VNST'] = car_df_date_dropped['VNST'].astype('category')
car_df_date_dropped['VNST'] = car_df_date_dropped['VNST'].cat.codes

In [242]:
'''VSNT,Color,SubModel,Trim,Model,Make are converted to integers. 
I used have cat codes here because the train and test set doesn't have same set of categories'''

"VSNT,Color,SubModel,Trim,Model,Make are converted to integers. \nI used have cat codes here because the train and test set doesn't have same set of categories"

In [243]:
#car_df_date_dropped_encoded = pd.get_dummies(car_df_date_dropped,columns=['Nationality','Auction','Transmission','Size','TopThreeAmericanName'])

In [244]:
car_df_date_dropped.shape

(72983, 32)

In [250]:
'''Replacing the null values with the median of the column assuming data to distributed normally. We can replace with historical data as well.For now replacing with median as there is time constraint'''
nullValues = car_df_date_dropped.isnull().sum()
print('Count of Null values for each column',nullValues[nullValues>0])

Count of Null values for each column Transmission                            9
WheelTypeID                          3169
Nationality                             5
Size                                    5
TopThreeAmericanName                    5
MMRAcquisitionAuctionAveragePrice      18
MMRAcquisitionAuctionCleanPrice        18
MMRAcquisitionRetailAveragePrice       18
MMRAcquisitonRetailCleanPrice          18
MMRCurrentAuctionAveragePrice         315
MMRCurrentAuctionCleanPrice           315
MMRCurrentRetailAveragePrice          315
MMRCurrentRetailCleanPrice            315
dtype: int64

In [251]:
car_df_date_dropped.fillna(car_df_date_dropped.median(), inplace=True)

In [253]:
'''This is after filling the null values with median'''
nullValues = car_df_date_dropped.isnull().sum()
print('Count of Null values after filling with median for each column',nullValues[nullValues>0])

Count of Null values for each column Transmission            9
Nationality             5
Size                    5
TopThreeAmericanName    5
dtype: int64

In [256]:
'''All the above columns had NAN values. As we are converting them to one hot vectors they will form a different category'''
print(car_df_date_dropped.Nationality.unique())
print(car_df_date_dropped.Size.unique())
print(car_df_date_dropped.TopThreeAmericanName.unique())

['OTHER ASIAN' 'AMERICAN' 'TOP LINE ASIAN' 'OTHER' nan]
['MEDIUM' 'LARGE TRUCK' 'COMPACT' 'LARGE' 'VAN' 'MEDIUM SUV' 'LARGE SUV'
 'SPECIALTY' 'SPORTS' 'CROSSOVER' 'SMALL SUV' 'SMALL TRUCK' nan]
['OTHER' 'CHRYSLER' 'FORD' 'GM' nan]

In [307]:
'''Replacing Transmission column value Manual category with CATEGORY'''
car_df_date_dropped['Transmission']=car_df_date_dropped['Transmission'].replace('Manual','MANUAL')

In [309]:
car_df_date_dropped_encoded = pd.get_dummies(car_df_date_dropped,columns=['Nationality','Auction','Transmission','Size','TopThreeAmericanName'])

In [310]:
car_df_date_dropped_encoded.columns

Index(['RefId', 'IsBadBuy', 'VehYear', 'VehicleAge', 'Make', 'Model', 'Trim',
       'SubModel', 'Color', 'WheelTypeID', 'VehOdo',
       'MMRAcquisitionAuctionAveragePrice', 'MMRAcquisitionAuctionCleanPrice',
       'MMRAcquisitionRetailAveragePrice', 'MMRAcquisitonRetailCleanPrice',
       'MMRCurrentAuctionAveragePrice', 'MMRCurrentAuctionCleanPrice',
       'MMRCurrentRetailAveragePrice', 'MMRCurrentRetailCleanPrice', 'BYRNO',
       'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost', 'purchasedMonth',
       'purchasedYear', 'purchasedDay', 'Nationality_AMERICAN',
       'Nationality_OTHER', 'Nationality_OTHER ASIAN',
       'Nationality_TOP LINE ASIAN', 'Auction_ADESA', 'Auction_MANHEIM',
       'Auction_OTHER', 'Transmission_AUTO', 'Transmission_MANUAL',
       'Size_COMPACT', 'Size_CROSSOVER', 'Size_LARGE', 'Size_LARGE SUV',
       'Size_LARGE TRUCK', 'Size_MEDIUM', 'Size_MEDIUM SUV', 'Size_SMALL SUV',
       'Size_SMALL TRUCK', 'Size_SPECIALTY', 'Size_SPORTS', 'Size_VAN',
       'TopThreeAmericanName_CHRYSLER', 'TopThreeAmericanName_FORD',
       'TopThreeAmericanName_GM', 'TopThreeAmericanName_OTHER'],
      dtype='object')

In [311]:
nullValues = car_df_date_dropped_encoded.isnull().sum()
print('Count of Null values after converting to one hot encoding',nullValues[nullValues>0])

Count of Null values after converting to one hot encoding Series([], dtype: int64)

In [312]:
car_df_date_dropped_encoded.shape

(72983, 52)

In [313]:
#This is for splitting the into train set and cross validation set
from sklearn.model_selection import train_test_split
X = car_df_date_dropped_encoded.drop(['IsBadBuy'],axis=1)
y = car_df_date_dropped_encoded['IsBadBuy']
X_train, X_cross_validation, y_train, y_cross_validation = train_test_split(X,y,test_size=0.3)

In [314]:
print('Shape of X', X.shape)
print('Shape of y',y.shape)
print('Shape of X_train',X_train.shape)
print('Shape of X_cross_validation',X_cross_validation.shape)
print('Shape of y_train',y_train.shape)
print('Shape of y_cross_validation',y_cross_validation.shape)

Shape of X (72983, 51)
Shape of y (72983,)
Shape of X_train (51088, 51)
Shape of X_cross_validation (21895, 51)
Shape of y_train (51088,)
Shape of y_cross_validation (21895,)

In [315]:
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier

In [316]:
#Cross validating using Random forest classifier and trying to tune the hyper parameter n_estimators
def getOptimalTrees(neighbors):
    random_forest_model = RandomForestClassifier(n_estimators=neighbors)
    random_forest_model.fit(X_train,y_train)
    predicted = random_forest_model.predict(X_cross_validation)
    score = metrics.accuracy_score(y_cross_validation,predicted)
    print('Score using Random forest classifier for {} neighbours is {}.'.format(neighbors,score))
    return score
list = [20,30,40]
for i in list:
    getOptimalTrees(i)

Score using Random forest classifier for 20 neighbours is 0.878419730532085.
Score using Random forest classifier for 30 neighbours is 0.8796985613153688.
Score using Random forest classifier for 40 neighbours is 0.8802923041790363.

In [327]:
from sklearn.tree import DecisionTreeClassifier

In [328]:
#Cross validating using Random forest classifier and trying to tune the hyper parameter max_depth and max_leaf_nodes
def getOptimalTrees(depth,leaf_nodes):
    clf = DecisionTreeClassifier(max_depth=depth,max_leaf_nodes=leaf_nodes)
    clf.fit(X_train,y_train)
    predicted = clf.predict(X_cross_validation)
    score = metrics.accuracy_score(y_cross_validation,predicted)
    print('Score using Decision tree classifier for tree of depth {} and {} max_leaf_nodes is {}.'.format(depth,leaf_nodes,score))
list = [[20,9],[10,5],[30,2]]
for item in list:
    getOptimalTrees(item[0],item[1])

Score using Decision tree classifier for tree of depth 20 and 9 max_leaf_nodes is 0.8790134733957524.
Score using Decision tree classifier for tree of depth 10 and 5 max_leaf_nodes is 0.8789221283398037.
Score using Decision tree classifier for tree of depth 30 and 2 max_leaf_nodes is 0.8789221283398037.

In [329]:
from sklearn.ensemble import AdaBoostClassifier

In [330]:
def getOptimalParameters(learning_rate):
    clf = AdaBoostClassifier(random_state=5,learning_rate=learning_rate)
    clf.fit(X_train,y_train)
    predicted = clf.predict(X_cross_validation)
    score = metrics.accuracy_score(y_cross_validation,predicted)
    print('Score using AdaBoostClassifier having the learning rate {} is {}.'.format(learning_rate,score))
list = [0.1,0.01,1,10]
for item in list:
    getOptimalParameters(item)

Score using AdaBoostClassifier having the learning rate 0.1 is 0.8789221283398037.
Score using AdaBoostClassifier having the learning rate 0.01 is 0.8789221283398037.
Score using AdaBoostClassifier having the learning rate 1 is 0.8798355788992921.
Score using AdaBoostClassifier having the learning rate 10 is 0.12107787166019639.

In [ ]:
'''As Random forest classifer with 40 estimators is giving the better results . 
We will implement the model using Random forest classifer'''

In [284]:
test_df = pd.read_csv('test.csv')
test_df.shape

(48707, 33)

In [331]:
'''Applying the same transformation  to test data that are done for training data set'''

'Applying the same transformation  to test data that are done for training data set'

In [290]:
test_df_dropped = test_df.drop(['AUCGUART','PRIMEUNIT','VNZIP1','WheelType'],axis=1)

In [291]:
test_df_dropped.shape

(48707, 29)

In [292]:
test_df_dropped['Date']=pd.to_datetime(test_df_dropped['PurchDate'], errors='coerce')

In [293]:
test_df_dropped['purchasedMonth']= pd.DatetimeIndex(test_df_dropped['Date']).month
test_df_dropped['purchasedYear']= pd.DatetimeIndex(test_df_dropped['Date']).year
test_df_dropped['purchasedDate']= pd.DatetimeIndex(test_df_dropped['Date']).day

In [294]:
test_df_dropped.shape

(48707, 33)

In [295]:
test_df_date_dropped = test_df_dropped.drop(['Date','PurchDate'],axis=1)

In [296]:
test_df_date_dropped.shape

(48707, 31)

In [297]:
test_df_date_dropped['Make'] = test_df_date_dropped['Make'].astype('category')
test_df_date_dropped['Make'] = test_df_date_dropped['Make'].cat.codes
test_df_date_dropped['Model'] = test_df_date_dropped['Model'].astype('category')
test_df_date_dropped['Model'] = test_df_date_dropped['Model'].cat.codes
test_df_date_dropped['Trim'] = test_df_date_dropped['Trim'].astype('category')
test_df_date_dropped['Trim'] = test_df_date_dropped['Trim'].cat.codes
test_df_date_dropped['SubModel'] = test_df_date_dropped['SubModel'].astype('category')
test_df_date_dropped['SubModel'] = test_df_date_dropped['SubModel'].cat.codes
test_df_date_dropped['Color'] = test_df_date_dropped['Color'].astype('category')
test_df_date_dropped['Color'] = test_df_date_dropped['Color'].cat.codes
test_df_date_dropped['VNST'] = test_df_date_dropped['VNST'].astype('category')
test_df_date_dropped['VNST'] = test_df_date_dropped['VNST'].cat.codes

In [298]:
test_df_date_dropped.dtypes

RefId                                  int64
Auction                               object
VehYear                                int64
VehicleAge                             int64
Make                                    int8
Model                                  int16
Trim                                   int16
SubModel                               int16
Color                                   int8
Transmission                          object
WheelTypeID                          float64
VehOdo                                 int64
Nationality                           object
Size                                  object
TopThreeAmericanName                  object
MMRAcquisitionAuctionAveragePrice    float64
MMRAcquisitionAuctionCleanPrice      float64
MMRAcquisitionRetailAveragePrice     float64
MMRAcquisitonRetailCleanPrice        float64
MMRCurrentAuctionAveragePrice        float64
MMRCurrentAuctionCleanPrice          float64
MMRCurrentRetailAveragePrice         float64
MMRCurrentRetailCleanPrice           float64
BYRNO                                  int64
VNST                                    int8
VehBCost                             float64
IsOnlineSale                           int64
WarrantyCost                           int64
purchasedMonth                         int64
purchasedYear                          int64
purchasedDate                          int64
dtype: object

In [300]:
'''Replacing the null values with the median of the column assuming data to distributed normally. We can replace with historical data as well.For now replacing with median as there is time constraint'''
nullValues = test_df_date_dropped.isnull().sum()
print('Count of Null values for each column',nullValues[nullValues>0])

Count of Null values for each column Transmission                            3
WheelTypeID                          2188
Nationality                             7
Size                                    7
TopThreeAmericanName                    7
MMRAcquisitionAuctionAveragePrice      10
MMRAcquisitionAuctionCleanPrice        10
MMRAcquisitionRetailAveragePrice       10
MMRAcquisitonRetailCleanPrice          10
MMRCurrentAuctionAveragePrice         143
MMRCurrentAuctionCleanPrice           143
MMRCurrentRetailAveragePrice          143
MMRCurrentRetailCleanPrice            143
dtype: int64

In [301]:
test_df_date_dropped.fillna(test_df_date_dropped.median(), inplace=True)

In [304]:
'''Replacing the null values with the median of the column assuming data to distributed normally. We can replace with historical data as well.For now replacing with median as there is time constraint'''
nullValues = test_df_date_dropped.isnull().sum()
print('Count of Null values for each column\n',nullValues[nullValues>0])

Count of Null values for each column
 Transmission            3
Nationality             7
Size                    7
TopThreeAmericanName    7
dtype: int64

In [305]:
'''All the above columns had NAN values. As we are converting them to one hot vectors they will form a different category'''
print(test_df_date_dropped.Nationality.unique())
print(test_df_date_dropped.Size.unique())
print(test_df_date_dropped.TopThreeAmericanName.unique())
print(test_df_date_dropped.Transmission.unique())

['AMERICAN' 'OTHER ASIAN' 'TOP LINE ASIAN' 'OTHER' nan]
['LARGE' 'MEDIUM' 'MEDIUM SUV' 'COMPACT' 'VAN' 'CROSSOVER' 'SMALL SUV'
 'LARGE SUV' 'LARGE TRUCK' 'SPORTS' 'SPECIALTY' 'SMALL TRUCK' nan]
['GM' 'CHRYSLER' 'OTHER' 'FORD' nan]
['AUTO' 'MANUAL' nan]

In [317]:
test_df_date_dropped_encoded = pd.get_dummies(test_df_date_dropped,columns=['Nationality','Auction','Transmission','Size','TopThreeAmericanName'])

In [318]:
test_df_date_dropped_encoded.shape

(48707, 51)

In [ ]:
test_df_date_dropped_encoded

In [320]:
'''This is the model that we are going to use finally . I have used the entire training data which are X and y. 
I tried to predict using the test data that is provided by you which was transformed same as traning data'''
random_forest_model = RandomForestClassifier(n_estimators=40)
random_forest_model.fit(X,y)
predicted = random_forest_model.predict(test_df_date_dropped_encoded)

In [321]:
predicted

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [325]:
import numpy as np

In [326]:
np.savetxt('predicted.csv',predicted,delimiter=",")